#quiz{
    background-color: aqua;
    margin: 3%;
    height: 50vh;
    padding: 1%;
    padding-top: 0;
}
#grid{
    display: grid;
    grid-template-columns: auto auto;
}
#grid div{
    background-color: violet;
    padding: 2%;
    margin: 2%;
    border: #000 2px solid;
}
h1{
    margin: 0;
}