:root {
    --main-background-color:#ededed;
    --accent-color:#2a59b0;
    --accent-color-ligt:#82aeff;
    
    --green-color:#50e669;
    --gray-color:#8f8f8f;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
}


header img, header a{
    height: 100%;
}
main{
    padding: 1%;
    padding-top: 3%;
}



/******Buttons******/
.buttonBigBlue, .buttonBigGreen{
    font-size: 100%;
    color: #fff;
    border: 0;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: .5%;
    border-radius: 50px;
}
.buttonBigBlue{background-color: var(--accent-color);}
.buttonBigGreen{background-color: var(--green-color);}
.buttonBig:hover{
    background-color: var(--accent-color-ligt);
    color: var(--main-background-color);
}